<div class="container" id="albums_list">
  <div class="form">
    <h1>Hello <%= @user.username %></h1>
    <h2 class="user_albums">My Albums</h2>
      <ul>
      <% @user.albums.each do |album| %>
        <li><a class="user_album_name" href="https://open.spotify.com/album/<%=album.spotify_id%>"><%= album.name %></a></li><br>
    <% end %>
      </ul>
  </div>
</div>
