<div class="container" id="albums_list">
    <div class="form">
        <h1>Search for an Artist</h1>
        <form id="search-form" action="/search" method="get">
            <input type="text" id="query" class="form-control" name="query" placeholder="Type an Artist Name"/>
            <input type="submit" class="button" value="Search" />
            <!-- <input type="submit" id="search" class="button" value="Search" /> -->
        </form>
    </div>
    <div id="artist-bio"></div>
    <div id="results"></div>
    <div id="sidebar">
    </div>
    <a id="search-again" class="hidden" href="/search">Search Again</a>
</div>
