<div class="container" id="albums_list">
    <div id="artist-bio"><%= @artist_bio %></div>
    <div id="results"><%= @artist_results %></div>
    <div id="sidebar">
    </div>
    <a id="search-again" href="/search_again">Search Again</a>
</div>
